aniso8601==8.0.0
cffi==1.14.0
click==7.1.1
cryptography==2.2.2
enum34==1.1.10
Flask==1.1.2
Flask-RESTful==0.3.8
Flask-Script==2.0.6
idna==2.9
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.2
python-jose[cryptography]
jwt
MarkupSafe==1.1.1
pyasn1==0.4.8
pycparser==2.20
pycrypto==2.6.1
pytz==2019.3
rethinkdb==2.4.6
six==1.14.0
termcolor==1.1.0
typing==3.5.3.0
Werkzeug==1.0.1
